@charset "UTF-8";
/*头  背景    墨蓝色*/
/*头     浅灰色*/
/*头  搜索     嫩绿*/
/*头    黄色*/
/*头  深绿*/
/*大字体 紫色*/
/*中字体颜色    黑色*/
/*小字体颜色    黑色*/
/*蓝色*/
/*常用   中等蓝色*/
/*最浅的蓝色*/
/*粉色*/
/*常用    深绿色*/
/*黄色*/
/*橙色*/
/*红色*/
/*灰色*/
/*深灰色*/
/*白色*/
body, h1, h2, h3, h4, h5, h6, ul, li, p, input {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: 0; }

* {
  position: relative;
  font-family: "microsoft yahei";
  box-sizing: border-box; }

body {
  background: #F4F4F4; }

.banner {
  width: 100%; }

.banner img {
  width: 100%; }

.body {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 100px;
  padding-bottom: 20px;
  font-family: "苹方"; }

.tdjl {
  width: 1200px;
  background: #fff;
  margin: 10px auto;
  border-radius: 10px;
  height: 450px; }

.dizhi {
  width: 1200px;
  background: #fff;
  margin: 10px auto;
  border-radius: 10px;
  height: 840px;
  color: #B6B6B6; }
  .dizhi .zuo {
    position: absolute;
    left: -170px;
    top: 275px; }
  .dizhi .you {
    position: absolute;
    left: 100%;
    top: 690px; }
  .dizhi .shang {
    height: 240px;
    border-bottom: 1px solid #B6B6B6;
    padding: 50px 0 0 30px; }
    .dizhi .shang .biaot {
      font-size: 16px;
      padding-top: 25px; }
      .dizhi .shang .biaot span {
        color: #00B38A; }
      .dizhi .shang .biaot b {
        color: #4F4E4E; }
    .dizhi .shang ul {
      font-size: 12px;
      line-height: 20px;
      padding: 10px 0; }
  .dizhi .zhong {
    height: 160px;
    border-bottom: 1px solid #B6B6B6;
    padding: 20px 30px; }
    .dizhi .zhong .biaot {
      font-size: 16px;
      padding-bottom: 5px; }
      .dizhi .zhong .biaot span {
        color: #00B38A; }
      .dizhi .zhong .biaot b {
        color: #4F4E4E; }
    .dizhi .zhong ul {
      font-size: 12px;
      line-height: 20px;
      padding: 10px 0; }
  .dizhi .xia {
    padding: 0 30px; }
    .dizhi .xia .gzdd {
      height: 60px;
      width: 100%;
      padding: 15px 0; }
    .dizhi .xia .wei {
      padding: 20px 0;
      font-size: 14px; }

.qyjs {
  width: 1200px;
  background: #fff;
  margin: 10px auto;
  border-radius: 10px;
  height: 1050px; }
  .qyjs .shang {
    width: 870px;
    height: 145px;
    border-bottom: 1px solid #B6B6B6;
    padding: 20px; }
    .qyjs .shang ul {
      padding: 20px 50px;
      font-size: 14px;
      color: #B6B6B6;
      line-height: 20px; }
  .qyjs .nei {
    height: 760px;
    width: 100%;
    border-bottom: 1px solid; }
    .qyjs .nei .biaot {
      height: 65px;
      padding: 35px 25px; }
    .qyjs .nei ul {
      padding: 20px 50px;
      font-size: 14px;
      font-family: "微软雅黑";
      color: #B6B6B6;
      line-height: 20px; }
      .qyjs .nei ul .hou {
        margin-top: 20px; }
  .qyjs .imgs {
    padding: 45px 50px; }
    .qyjs .imgs div {
      float: left;
      margin-right: 10px; }
  .qyjs .qywz {
    padding: 30px 25px; }
    .qyjs .qywz .wangzhi {
      padding: 20px 50px;
      color: #1893D1; }

.bdli {
  width: 1200px;
  background: #fff;
  margin: 10px auto;
  border-radius: 10px;
  height: 310px;
  border-top: 2px solid #10C3EA;
  font-family: "苹方"; }
  .bdli .top {
    padding: 25px 25px 15px 25px;
    height: 110px; }
    .bdli .top div {
      float: left; }
    .bdli .top .you {
      padding-left: 20px;
      color: #8B828C; }
      .bdli .top .you .you-top {
        height: 50px;
        line-height: 50px;
        font-size: 25px; }
        .bdli .top .you .you-top .tuoa {
          height: 20px;
          border-radius: 10px;
          margin: 13px 5px;
          text-align: center;
          line-height: 20px;
          color: #464545;
          font-size: 12px;
          width: 75px;
          background: #FFC454;
          margin-left: 40px; }
        .bdli .top .you .you-top .tuob {
          height: 20px;
          border-radius: 10px;
          margin: 13px 5px;
          text-align: center;
          line-height: 20px;
          color: #464545;
          font-size: 12px;
          width: 50px;
          background: #FF6A91; }
        .bdli .top .you .you-top .tuoc {
          height: 20px;
          border-radius: 10px;
          margin: 13px 5px;
          text-align: center;
          line-height: 20px;
          color: #464545;
          font-size: 12px;
          width: 80px;
          background: #3FE694; }
      .bdli .top .you h4 {
        font-family: "苹方";
        font-size: 16px;
        color: #464545; }
  .bdli ul {
    padding: 20px 25px;
    color: #8B828C;
    font-size: 14px; }
    .bdli ul a {
      color: #1893D1; }
  .bdli .ren {
    position: absolute;
    bottom: -7px;
    right: -50px; }

.xxpl {
  width: 1200px;
  background: #fff;
  margin: 10px auto;
  border-radius: 10px;
  height: 430px;
  border-top: 2px solid #10C3EA; }

.ui {
  position: absolute;
  top: -10px;
  left: 40px;
  width: 265px;
  height: 80px;
  background: #1893D1;
  border-radius: 5px;
  padding: 17px 20px;
  font-family: "苹方";
  color: #fff;
  line-height: 1.5; }

.sleft {
  position: relative;
  top: 90px;
  left: 50px; }

.sleft ul li {
  font-size: 16px;
  padding: 5px 0; }

ul img {
  vertical-align: middle;
  margin-right: 10px; }

ul .one span {
  color: #EE2525;
  padding: 0 5px; }

ul .two {
  color: #8B828C; }

.sleft ul .three {
  font-size: 10px;
  color: #00B38A;
  padding: 20px 0; }

.sright {
  position: absolute;
  top: 60px;
  right: 160px; }

.xukuang {
  width: 1035px;
  height: 150px;
  position: absolute;
  left: 60px;
  bottom: 50px;
  border: 1px dashed #8B828C; }
  .xukuang div {
    float: left; }
  .xukuang .tx {
    padding: 10px 15px; }
  .xukuang .gsm {
    height: 100%;
    line-height: 150px;
    font-size: 10px;
    color: #8B828C;
    margin-left: 210px; }
  .xukuang .sxt {
    width: 295px;
    height: 70px;
    float: right;
    border-left: 1px solid #8B828C;
    margin-top: 40px;
    padding: 10px 60px; }
    .xukuang .sxt .nei {
      width: 160px;
      height: 50px;
      background: #5BDB9D;
      text-align: center;
      color: #fff;
      line-height: 50px; }

.zwfbz {
  position: absolute;
  left: 530px;
  bottom: 192px;
  background: #fff;
  padding: 0 5px;
  font-size: 10px;
  color: #8B828C; }

.xxpl .top {
  height: 63px;
  border-bottom: 1px solid #B6B6B6;
  line-height: 80px;
  padding-left: 25px; }

.xxpl .xia {
  padding: 45px 0 45px 40px; }

.xxpl .zhaopin {
  width: 540px;
  height: 85px;
  float: left;
  border: 1px solid #B6B6B6;
  border-left: 2px solid #00B38A;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 15px 20px;
  background: #F4F4F4; }

.zhaopin .shijian {
  position: absolute;
  top: 25px;
  right: 20px;
  color: #8B828C; }

.zhaopin h4 {
  font-family: "苹方";
  font-size: 23px;
  color: #00B38A; }

.zhaopin h6 {
  font-family: "苹方";
  font-size: 16px;
  color: #8B828C; }

.zhaopin h6 span {
  color: #EE2525;
  font-size: 18px; }
