@import "../base/base";
$height:auto;
$f-bg:(1,#5ccc56),(2,#2a77f6),(3,#f59421);
img{display: block;}
.footer{
    width: 100%;
    height: auto;
    background: #2d2d2d;
    padding: 70px 0 80px;
    .footer-con{
        width: $width;
        height: $height;
        overflow: hidden;
        margin: 0 auto;
        .footer-log{
            float: left;
            margin-left: 50px;
            margin-right: 65px;
            a{
                display: block;
            }
        }
        .footer-nav{
           float: left;
           border-left: 1px solid #4c4b4b;
           padding: 0 15px;
           .nav{
               overflow: hidden;
               li{
                   float: left;
                   padding: 6px 20px;
                   a{
                       display: block;
                       font-size: 18px;
                       color: #8c8c8c;
                   }
               }
           }
           .border{
               width: 250px;
               height: 0;
               border: 1px dashed #8c8c8c;
           }
           p{
               font-size: 16px;
               color: #8C8C8C;
               padding-left: 20px;
               margin-top: 10px;
           }
           .links{
               margin-top: 15px;
               overflow: hidden;
               
               @each $n,$back in $f-bg{
                   li:nth-of-type(#{$n}){
                       float: left;
                       padding-left: 20px;
                       a{
                          display: block;
                          height: 56px;
                          width: 56px;
                          border: 4px solid #fff;
                          border-radius: 50%; 
                          background: #{$back};
                          img{
                              @include center;
                          }
                       }
                   }
               }
                       
               
           }
           .footer-nav-cir1{
               width: 4px;
               height: 4px;
               background: #acacac;
               border-radius: 50%;
               position: absolute;
               top: 0;
               left: -3px;
           }
           .footer-nav-cir2{
               width: 4px;
               height: 4px;
               background: #acacac;
               border-radius: 50%;
               position: absolute;
               bottom: 0;
               left: -3px;
           }
        }
        .fang{
            @include square(142px,142px);
            float: right;
            background: #25afff;
        }
    }
}












