@import "../base/base";
img{display: block;}
.header{
    width: 100%;
    height: 130px;
    background: rgba(21,79,101,0.9);
    .header-con{
        width: $width;
        height: 130px;
        margin: 0 auto;
        padding: 50px 0 45px;
        .log{
            position: absolute;
            top: 10px;
            left: -120px;
            a{
                display: block;
                img{
                    height: 100px;
                }
            }
        }
        .nav{
            overflow: hidden;
            li{
                float: left;
                margin: 0 40px;
                a{
                    display: block;
                    span{
                        display: block;
                        height: 25px;
                    }
                    .eng{
                        color: #bdbebe;
                        font-size: 20px;
                        height: 28px;
                    }
                    .ch{
                        color: #fff;
                        font-size: 18px;
                    }
                }
                .border{
                    width: 80px;
                    height: 1px;
                    background: #707577;
                    @include top-bottom;
                    left: 0;
                }
                .color{
                    width: 10px;
                    height: 1px;
                    background: #f2c119;
                    @include top-bottom;
                    left: 70px;
                }
            }
            li:nth-of-type(1){
                margin-left: 0;
            }
            .dashed{
                margin: 5px 0 0;
                width: 0;
                height: 40px;
                border-left: 1px dashed #FFFFFF;
            }
        }
        form{
            position: absolute;
            top: 55px;
            left: 900px;
            .text{
                float: left;
                width: 380px;
                height: 42px;
                border: 2px solid rgba(255,255,255,0.7);
                border-radius: 40px;
                background: transparent;
                padding-left: 28px;
                outline: none;
            }
            .btn{
                position: absolute;
                right: 6px;
                top: 7px;
                height: 28px;
                width: 60px;
                border: 2px solid rgba(255,255,255,0.7);
                border-radius: 28px;
                font-size: 20px;
                background:#6cce24 url($imgPath+"footer/btn.png") no-repeat center;
                outline: none;                
            }
        }
        .roll{
            width: 8px;
            height: 8px;
            background: #ffd015;
            position: absolute;
            top: 72px;
            left: 912px;
            border-radius: 50%;
            z-index: 10;
        }
    }
}
