@import '../base/base';
.position-banner{
    @include square(100%,814px)
    .bg{
        @include square(100%,670px);
        background-image:url($imgPath+"position/3.png");
        background-repeat:no-repeat;
       .zhao{
            @include square(100%,670px);
            background:rgba(57,121,574,0.3);
            .nav{
                @include square(100%,137px);
                background:rgba(9,78,105,0.6);
            }
            .imgs{
                @include square(1200px,557px);
                @include left-right;
                overflow:hidden;
                margin-top:28px;
                img{
                    width:100%;
                    position:absolute;
                    top:0;
                    left:0;
                }
            }
            .left{
                @include square(443px,193px);
                @include bg($co10);
                position:absolute;
                top:325px;
                left:4%;
            }
            .bottom{
                @include square(997px,182px);
                @include left-right;
                background:url($imgPath+'position/1.png') no-repeat;
                background-size:auto 100%;
                margin-top:440px;
                box-shadow:0 3px 3px #BEC2C3;
            }
        } 
    }  
}
.inner{
    margin:0 auto;
    @include square(1200px,1064px);
    .search{
        @include square(100%,80px);
        input:nth-child(1){
            width:990px;
            height:100%;
            border:1px solid #CCCCCC;
            font-size:18px;
            color:#CCCCCC;
            padding-left:20px;
            margin-right:26px;
        }
        input:nth-child(2){
            width:179px;
            height:100%;
            border:0;
            font-size:23px;
            color:#fff;
            background:$co10;
        }
    }
    .select-list{
        width:100%;
        height:33px;
        margin:{
            top:48px;
            bottom:52px;
        }
        select{
            width:227px;
            height:33px;
            margin:{ 
                right:13px;
            }
            float:left;
            border:1px solid #ccc;
            padding-left:5px;
            font-size:12px;
            color:#666666;
        }
        select:nth-last-of-type{
            margin:0;
        }
    }
    .position-list{
        width:100%;
        border:1px solid #CCCCCC;
        li{
            @include square(1130px,170px);
            border-bottom:1px solid #CCCCCC;
            margin:0 auto;
            .left{
                width:50%;
                height:115px;
                @include top-bottom;
                float:left;
                img{
                    border:1px solid #CCCCCC;
                }
                h1{
                    font-size:18px;
                    color:#424242;
                    font-weight:normal;
                    position:absolute;
                    left:160px;
                    top:10px;
                }
                h2{
                    font-size:14px; 
                    color:#6D6D6D;
                    font-weight:normal;
                    position:absolute;
                    left:160px;
                    top:53px; 
                    span{
                        color:#F1CA49;
                        margin-right:14px;
                    }
                }
                h3{
                    font-size:13px;
                    color:#606060;
                    font-weight:normal;
                    position:absolute;
                    left:160px;
                    top:85px;
                }
            }
            .right{
                width:50%;
                height:92px;
                @include top-bottom;
                float:left;
                margin-left:50%;
                border-left:1px dashed #CCCCCC;
                padding-left:45px;
                h1{
                    font-size:18px;
                    color:#424242;
                    font-weight:500;
                }
                h2{
                    font-size:14px; 
                    color:#6D6D6D;
                    font-weight:normal;
                    margin-top:20px;
                }
                .label{
                    width:186px;
                    height:22px;
                    margin-top:14px;
                    li{
                        width:58px;
                        height:22px;
                        border:1px solid #CCCCCC;
                        border-radius:5px;
                        float:left;
                        margin-right:4px;
                        font-size:12px;
                        color:#6D6D6D;
                        text-align:center;
                        line-height:20px;
                    }
                }
                .leader{
                    @include square(138px,42px);
                    background:#40D1F1;
                    color:#fff;
                    border-radius:10px;
                    text-align:center;
                    line-height:42px;
                    position:absolute;
                    left:435px;
                    top:23px;
                }
            }
            .pages{
                @include square(524px,22px);
                @include center;
                a{
                    float:left;
                    color:#999999;
                    margin-right:10px;
                    font-size:16px;
                }
                .empty{
                    width:38px;
                    height:100%;
                    border:1px solid #999999;
                }
                ul{
                    float:left;
                    li{
                        width:22px;
                        height:22px;
                        float:left;
                        border:1px solid #999999;
                        line-height:20px;
                        font-size:12px;
                        color:#999999;
                        margin-right:10px;
                        padding-left:6px;
                    } 
                }
            }
        } 
        .last{
            border:0;
        }
    }
}
.spread{
    @include square($width,376px);
    margin:250px auto 0;
    .title{
        span{
            color:#999999; 
        }
    }
    ul{
        @include square(100%,279px);
        margin-top:60px;
        li{
            @include square(279px,279px);
            float:left;
            margin-right:28px;
            border-radius:10px;
            img{
                position:absolute;
                top:0;
                left:0;
            }
            div{
                @include square(279px,279px);
                float:left;
                margin-right:28px;
                border-radius:10px; 
                background:rgba(0,0,0,0.4);
                padding-top:50px;
                opacity:0;
                h1{
                    font-size:17px;
                    color:#fff;
                    width:102px;
                    margin:0 auto;
                    font-weight:normal;
                }
                i{
                    display:block;
                    width:34px;
                    border-top:1px solid #fff;
                    margin:20px auto;
                }
                p{
                    width:220px;
                    font-size:13px;
                    color:#fff;
                    margin:0 auto;
                    line-height:22px;
                }
                a{
                    display:block;
                    width:123px;
                    height:34px;
                    border:1px solid #fff;
                    border-radius:5px;
                    margin:44px auto;
                    font-size:12px;
                    color:#fff;
                    line-height:32px;
                    text-align:center;
                }
            }
            
        }
        li:nth-child(4){
            margin:0;
        }
        li:nth-child(2) div{
            opacity:1;
        }
    }
}
