$width:1200px;
/*头  背景    墨蓝色*/
$co1:#175C86;
/*头     浅灰色*/
$co2:#6CCE24;
/*头  搜索     嫩绿*/
$co3:#1ABF9D;
/*头    黄色*/
$co4:#F0C310;
/*头  深绿*/
$co5:#21A26A;



/*大字体 紫色*/
$co6:#230427;
/*中字体颜色    黑色*/
$co7:#282626;
/*小字体颜色    黑色*/
$co8:#424242;


/*蓝色*/
$co9:2298F3;
/*常用   中等蓝色*/
$co10:#10C8F0;
/*最浅的蓝色*/
$co11:#B0EBF8;



/*粉色*/
$co12:#FF7686;

/*常用    深绿色*/
$co13:#45B45A;

/*黄色*/
$co14:#F7C72D;

/*橙色*/
$co15:#FF961B;

/*红色*/
$co16:#F10A0A;


/*灰色*/
$co17:#F4F4F4;
/*深灰色*/
$co18:#878686;




/*白色*/
$co19:#FFFFFF;

body,h1,h2,h3,h4,h5,h6,ul,li,p,input{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
*{
    position: relative;
    font-family:"microsoft yahei";
}
@mixin left-right{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
@mixin top-bottom{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
@mixin center{
    @include left-right;
    @include top-bottom;
}
@mixin square($w,$h){
    width:$w;
    height:$h;
}
@mixin bg($bg-color){
    background:$bg-color;
}
@mixin background-img{
    img-path:'../img'
}
