div, ul, li, h3, h4, h1, h5, p, body, table, tr, td, h2, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "microsoft yahei";
  font-size: 13px;
  color: #888888; }

img {
  border: 0;
  vertical-align: middle; }

a {
  text-decoration: none; }

b, i, em {
  list-style: none;
  font-style: normal; }

:root {
  background: #F4F4F4; }

/*header*/
.header {
  width: 100%;
  height: 130px;
  background: #145880; }
  .header .header-con {
    width: 1200px;
    height: 130px;
    margin: 0 auto;
    padding: 50px 0 45px;
    position: relative; }
    .header .header-con .log {
      position: absolute;
      top: 10px;
      left: -120px; }
      .header .header-con .log a {
        display: block; }
        .header .header-con .log a img {
          height: 100px; }
    .header .header-con .nav {
      overflow: hidden; }
      .header .header-con .nav li {
        float: left;
        margin: 0 40px; }
        .header .header-con .nav li a {
          display: block; }
          .header .header-con .nav li a span {
            display: block;
            height: 25px; }
          .header .header-con .nav li a .eng {
            color: #bdbebe;
            font-size: 20px;
            height: 28px; }
          .header .header-con .nav li a .ch {
            color: #fff;
            font-size: 18px; }
        .header .header-con .nav li .border {
          width: 80px;
          height: 1px;
          background: #707577;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 0; }
        .header .header-con .nav li .color {
          width: 10px;
          height: 1px;
          background: #f2c119;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 70px; }
      .header .header-con .nav li:nth-of-type(1) {
        margin-left: 0; }
      .header .header-con .nav .dashed {
        margin: 5px 0 0;
        width: 0;
        height: 40px;
        border-left: 1px dashed #FFFFFF; }
    .header .header-con form {
      position: absolute;
      top: 55px;
      left: 900px; }
      .header .header-con form .text {
        float: left;
        width: 380px;
        height: 42px;
        border: 2px solid rgba(255, 255, 255, 0.7);
        border-radius: 40px;
        background: transparent;
        padding-left: 28px; }
      .header .header-con form .btn {
        position: absolute;
        right: 6px;
        top: 7px;
        height: 28px;
        width: 60px;
        border: 2px solid rgba(255, 255, 255, 0.7);
        border-radius: 28px;
        font-size: 20px;
        background: #6cce24 url(../../img/footer/btn.png) no-repeat center; }
    .header .header-con .roll {
      width: 8px;
      height: 8px;
      background: #ffd015;
      position: absolute;
      top: 72px;
      left: 912px;
      border-radius: 50%;
      z-index: 10; }

/*main*/
.main-f {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 46px; }

.main-left {
  float: left;
  width: 868px; }

.main-right {
  float: right;
  padding-left: 36px;
  width: 296px; }

.introduce {
  width: 710px;
  height: 246px;
  border-top: 4px solid #10C8F0;
  box-shadow: 0 2px 5px #b7b7b7;
  background: #fff;
  margin-left: 5px;
  margin-bottom: 48px;
  border-radius: 1%;
  padding: 30px 20px;
  position: relative; }

.company-img {
  float: left;
  margin-right: 16px; }
  .company-img h3 {
    float: left;
    color: #3e3e3e;
    margin-right: 16px;
    font-size: 30px;
    margin-bottom: 8px; }
  .company-img div {
    float: left;
    margin-top: 14px; }
  .company-img h4 {
    float: left;
    font-size: 20px;
    color: #3e3e3e;
    font-weight: 600; }

.company-title {
  float: left;
  margin-right: 16px; }
  .company-title h3 {
    float: left;
    color: #3e3e3e;
    margin-right: 16px;
    font-size: 30px;
    margin-bottom: 8px; }
  .company-title div {
    float: left;
    margin-top: 14px; }
  .company-title h4 {
    float: left;
    font-size: 20px;
    color: #3e3e3e;
    font-weight: 600; }

.company-title {
  width: 300px; }

.company-title:after {
  content: "";
  display: block;
  clear: both; }

.company-in {
  padding: 16px 2px; }

.company-show h3 {
  float: left;
  color: #3e3e3e;
  margin-left: 5px;
  padding-right: 5px; }

.company-show p {
  float: left;
  margin-left: 15px; }

.show-1 {
  float: left;
  border: 1px solid #ccc;
  border-radius: 3%;
  overflow: hidden; }
  .show-1 img {
    float: left;
    width: 18px; }

.company-show:after {
  content: "";
  display: block;
  clear: both; }

.company-show {
  margin-bottom: 4px; }

.boss {
  height: 50px;
  padding-left: 126px;
  width: 190px;
  position: absolute;
  left: 20px;
  bottom: -20px;
  background: #fff;
  box-shadow: 0 2px 5px #b7b7b7;
  line-height: 40px; }

.boss span:nth-child(1) {
  color: #3e3e3e;
  font-size: 18px;
  font-weight: 700;
  margin-right: 8px; }

.boss-img {
  position: absolute;
  left: 26px;
  bottom: -10px; }

.sixin {
  display: block;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700px;
  background: #5BDB9D;
  text-align: center;
  height: 50px;
  width: 164px;
  line-height: 50px;
  position: absolute;
  bottom: -20px;
  left: 350px; }

.six {
  position: absolute;
  top: 45px;
  right: 86px; }

.people {
  position: absolute;
  bottom: 0;
  right: -120px; }

/*line*/
.line {
  width: 868px;
  height: 1px;
  background: #B5B5B5;
  margin: 36px 0; }

/*gongsi*/
.gongsi {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 2px 5px #b7b7b7; }

.gs-in {
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid #E1E1E1; }
  .gs-in p {
    padding: 20px;
    line-height: 20px;
    padding-bottom: 26px;
    padding-top: 0; }

.gs-in-title {
  margin-bottom: 28px; }

.jieshao {
  margin-right: 5px;
  margin-left: 20px;
  height: 367px; }

.gs-web {
  color: #2298F3;
  text-decoration: underline; }

/**/
.pinglun {
  margin-top: 86px; }

.ping-in {
  padding: 26px 20px;
  border-top: 1px solid #B5B5B5;
  position: relative; }

.ping-in:after {
  content: "";
  display: block;
  clear: both; }

.ping-left {
  width: 280px;
  float: left; }
  .ping-left img {
    float: left;
    margin-right: 12px; }

.ping-right {
  float: left;
  width: 544px; }
  .ping-right p {
    line-height: 20px;
    margin-bottom: 20px; }

.ping-name {
  float: left; }
  .ping-name h3 {
    font-size: 17px;
    font-weight: 700;
    color: #240528; }
  .ping-name p {
    float: left;
    background: #FFFFFF;
    color: #240528;
    margin-right: 5px;
    padding: 1px 4px;
    margin-top: 4px; }
  .ping-name h4 {
    margin-top: 20px;
    font-weight: 100;
    color: #240528; }

.ping-time {
  width: 50%;
  float: left;
  padding-top: 11px; }

.ping-defen {
  width: 50%;
  float: right; }
  .ping-defen img {
    vertical-align: bottom; }

.floor {
  position: absolute;
  top: -10px;
  right: 20px;
  z-index: 10;
  background: #F4F4F4;
  padding: 0 4px;
  font-weight: 700; }

.more {
  width: 100%;
  margin: 90px 0;
  text-align: center;
  display: block; }

/*right*/
.work {
  width: 214px;
  height: 64px;
  box-shadow: 0 2px 3px #b7b7b7;
  background: #fff;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  margin-bottom: 12px; }
  .work h3 {
    font-size: 17px;
    color: #3e3e3e;
    font-weight: 600;
    margin-bottom: 10px; }
  .work p {
    float: left; }
  .work div {
    float: right;
    color: #F78787;
    font-size: 16px;
    font-weight: bold; }
    .work div span {
      font-style: italic;
      float: left; }
    .work div img {
      float: left;
      margin-top: 2px; }

/*footer*/
.footer {
  width: 100%;
  height: auto;
  background: #2d2d2d;
  padding: 70px 0 80px;
  position: relative; }
  .footer .footer-con {
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin: 0 auto; }
    .footer .footer-con .footer-log {
      float: left;
      margin-left: 50px;
      margin-right: 65px; }
      .footer .footer-con .footer-log a {
        display: block; }
    .footer .footer-con .footer-nav {
      float: left;
      border-left: 1px solid #4c4b4b;
      padding: 0 15px; }
      .footer .footer-con .footer-nav .nav {
        overflow: hidden; }
        .footer .footer-con .footer-nav .nav li {
          float: left;
          padding: 6px 20px; }
          .footer .footer-con .footer-nav .nav li a {
            display: block;
            font-size: 18px;
            color: #8c8c8c; }
      .footer .footer-con .footer-nav .border {
        width: 250px;
        height: 0;
        border: 1px dashed #8c8c8c; }
      .footer .footer-con .footer-nav p {
        font-size: 16px;
        color: #8C8C8C;
        padding-left: 20px;
        margin-top: 10px; }
      .footer .footer-con .footer-nav .links {
        margin-top: 15px;
        overflow: hidden; }
        .footer .footer-con .footer-nav .links li:nth-of-type(1) {
          float: left;
          padding-left: 20px; }
          .footer .footer-con .footer-nav .links li:nth-of-type(1) a {
            display: block;
            height: 56px;
            position: relative;
            width: 56px;
            border: 4px solid #fff;
            border-radius: 50%;
            background: #5ccc56; }
            .footer .footer-con .footer-nav .links li:nth-of-type(1) a img {
              position: absolute;
              left: 0;
              right: 0;
              margin: auto;
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto; }
        .footer .footer-con .footer-nav .links li:nth-of-type(2) {
          float: left;
          padding-left: 20px; }
          .footer .footer-con .footer-nav .links li:nth-of-type(2) a {
            display: block;
            height: 56px;
            position: relative;
            width: 56px;
            border: 4px solid #fff;
            border-radius: 50%;
            background: #2a77f6; }
            .footer .footer-con .footer-nav .links li:nth-of-type(2) a img {
              position: absolute;
              left: 0;
              right: 0;
              margin: auto;
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto; }
        .footer .footer-con .footer-nav .links li:nth-of-type(3) {
          float: left;
          padding-left: 20px; }
          .footer .footer-con .footer-nav .links li:nth-of-type(3) a {
            display: block;
            height: 56px;
            position: relative;
            width: 56px;
            border: 4px solid #fff;
            border-radius: 50%;
            background: #f59421; }
            .footer .footer-con .footer-nav .links li:nth-of-type(3) a img {
              position: absolute;
              left: 0;
              right: 0;
              margin: auto;
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto; }
      .footer .footer-con .footer-nav .footer-nav-cir1 {
        width: 4px;
        height: 4px;
        background: #acacac;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: -3px; }
      .footer .footer-con .footer-nav .footer-nav-cir2 {
        width: 4px;
        height: 4px;
        background: #acacac;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        left: -3px; }
    .footer .footer-con .fang {
      width: 142px;
      height: 142px;
      float: right;
      background: #25afff; }
